PORT=3000
CLIENT_URL=http://localhost:5173
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
NODE_ENV=development
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
